.position-title-container{
    padding: 10px;
    margin: 10px 20px 10px 0px;
    border: #0f9d58 solid 1px;
}

.panel{
    border: #1b6d85 1px solid;
    padding: 5px 30px 20px 30px;
    margin: 10px 30px 10px 10px;
}

#content{
    font-size: large;
    color: #3a5774;
    padding: 20px;
}


#next-link{
    margin:20px 10px;
    font-size: large;
}